body {
	/* maximize rest of the div to fill the set size */
	display: flex;
	flex-direction: column;
	background-color: #CE9540;
	height: 100%;
}


.login {
	background-color: #701e1e;
}

.profile-heading {
	padding: 14px;
	text-align: center;
	color: whitesmoke;
	background-color: #734C11;
}

.delete-btn {
	padding: 14px;
	border-radius: 14px;
	margin-bottom: 10px;
	width: 420px;
	font-size: 20px;
	background-color: #701e1e;
	border: none;
}

.delete-btn:hover {
	background-color: #73342f;
	cursor: pointer;
}

.assets {
	display: flex;
	flex-direction: column;
}

.account-wrapper {
	background-color: #CE9540;
	/* height: calc(100vh - 23.5vh); */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.footer {
	position: fixed;
	bottom: 5px;
	width: 100%;
	margin: 0 auto;
}

*:focus {
	outline: none;
}

label {
	font-size: 20px;
}

input,
.reset {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	background-color: #734C11;
	color: rgb(0, 0, 0);
}

input,
.reset {
	padding: 14px;
	border-radius: 14px;
	margin-bottom: 10px;
	width: 420px;
	font-size: 20px;
}

input[type="submit"],
.reset {
	color: whitesmoke;
	background-color: rgb(0, 0, 0);
}

input[type="submit"]:hover,
.reset:hover {
	cursor: pointer;
	color: whitesmoke;
	background-color: rgb(0, 0, 0, 0.8);
}

.form {
	/* border: 2px solid peachpuff; */
	/* width: 900px; */
	padding: 12px;
}

/* removes white background on atofill passwords */
/* input:autofill { */
/* 	background-color: #ce9540; */
/* } */
/**/
/* input { */
/* 	filter: none; */
/* } */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #734C11 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
	-webkit-text-fill-color: rgb(0, 0, 0) !important;
}

/* Changes placeholder color */
::placeholder {
	color: whitesmoke;
	opacity: 1;
	/* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: whitesmoke;
}
