body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5em;
	/* position: absolute; */
	/* top: 50%; */
	/* -ms-transform: translateY(-40%); */
	/* transform: translateY(-40%); */
	/* From https://css.glass */
	background: rgba(121, 112, 66, 0.46);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 1px solid rgba(121, 112, 66, 0.84);
}

.auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 22px;
}

label {
	font-size: 20px;
	margin-right: 7px;
}

input {
	min-height: 25px;
	font-size: 15px;
}

label {
	float: left;
	width: 250px;
	text-align: right;
}

input {
	display: inline-block;
}

.btn-signup {
	width: 140px;
	padding: 10px;
	outline: none;
	/* background-color: #beb9a5; */
	/* background-color: rgb(128, 68, 50, 0.2); */
	font-size: 16px;
	border-radius: 4px;

	background-color: #696241;
}

.btn-signup:hover {
	cursor: pointer;
	background-color: #A18882;
}

.auth-form>div {
	display: flex;
	align-items: center;
}

.confirmpassword {
	margin-bottom: 16px;
}

/* Debugging */
.auth-container {
	/* border: 2px solid green; */
}

.auth-form {
	/* border: 2px solid peachpuff; */
}
