* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color-scheme: light;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid peachpuff;
	padding-left: 4px;
	padding-top: 5px;
	padding-right: 15px;
}

.links {
	/* border: 2px solid slateblue; */
	padding: 12px;
	display: flex;
	align-items: center;
	gap: 32px;
	border-radius: 34px;
	margin-bottom: 8px;

}

.links>a {
	text-decoration: none;
	color: wheat;
	width: 7em;
}

.signup {
	background-color: #CE9540;
}

.login {
	background-color: #734C11;
	margin-left: -67px;
	padding-left: 32px;
}
