.error-container{
    padding: o;
    margin: 0;
    background-color: rgb(192, 122, 36);
    display: flex;
    flex-direction: column;

}

.error{
    margin-top: 250px;
    margin-bottom: 250px;
    text-align: center;
   }
