{% extends "base.html" %}
{% block title %}
Asset management system - Your Profile
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='account.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('index') }}" class="links signup">Home</a>
<a href="{{ url_for('logout') }}" class="links login">Logout</a>
{% endblock navlinks %}
{% block body %}
<h2 class="profile-heading">Your Profile</h2>
<div class="account-wrapper">
	<form action="{{ url_for('profile') }}" class="form" method="POST" >
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}
		<div class="assets">
		{{ form.full_name.label }}
		{{ form.full_name() }}
		</div>
		<div class="assets">
		{{ form.email.label }}
		{{ form.email() }}
		</div>
		<div class="assets">
		{{ form.submit() }}
		</div>
	</form>
	<form action="{{ url_for('profile') }}" class="form" method="POST">
		{{ password_form.csrf_token }}
		{{ password_form.hidden_tag() }}
		<div class="assets">
		{{ password_form.new_password.label }}
		{{ password_form.new_password(autocomplete="new-password") }}
		<div class="assets">
		{{ password_form.confirm_new_password.label }}
		{{ password_form.confirm_new_password(autocomplete="new-password") }}
		</div>
		<div class="assets">
		{{ password_form.submit() }}
		</div>
	</form>
		<div class="assets">
			<a href="{{ url_for('delete_account') }}" class="delete-btn">Delete your Account</a>
		</div>
</div>
{% endblock body %}
