{% extends "base.html" %}
{% block title %}
Asset management system - Your Profile
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="account.css">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('index') }}" class="links signup">Home</a>
<button class="links login">Log out</button>
{% endblock navlinks %}
{% block body %}
<h2 class="profile-heading">Your Profile</h2>
<div class="account-wrapper">
	<form action="" class="form">
		<div class="assets"><label for="firstname">First Name:</label><input type="text" id="firstname"
				name="firstname">
		</div>

		<div class="assets"><label for="secondname">Second Name:</label><input type="text" id="secondname"
				name="secondname">
		</div>
		<div class="assets"><label for="email">Email:</label><input type="text" id="email" name="email">
		</div>
		<div class="assets"><label for="password">New Password:</label><input type="password" id="password"
				name="password"></div>
		<input type="submit" value="Update"><br>
		<button class="delete-btn">Delete your account</button>
	</form>
</div>
{% endblock body %}
