{% extends "base.html" %}
{% block title %}
Asset management - Add an asset
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='assets.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('index') }}" class="links login">Log out</a>
{% endblock navlinks %}
{% block body %}
<h2 class="asset-heading">Add an asset</h2>
<div class="form-wrapper">
	<div class="layer">
		<form action="" class="form" method="post">
			<div class="row">
				{{ form.asset_description(placeholder="Asset Description",id="description") }}
				{{ form.room(placeholder="Room",id="room") }}
			</div>
			<div class="row">
				{{ form.serial_number(placeholder="Serial Number",id="serial") }}
				{{ form.building(placeholder="Building",id="building") }}
			</div>
			<div class="row">
				{{ form.product_number(placeholder="Product Number",id="productnumber") }}
				{{ form.make_model(placeholder="Make Model",id="makemodel") }}
			</div>
			<div class="row">
				{{ form.financed_by(placeholder="Financed by/ Source of funds",id="financedby") }}
				{{ form.department(placeholder="Department",id="department") }}
			</div>
			<div class="row">
				{{ form.directorate(placeholder="Directorate",id="directorate") }}
				{{ form.units(placeholder="Units",id="units") }}
			</div>
			<div class="row">
				{{ form.condition(placeholder="Condition",id="condition") }}
				</div>
			</div>
			<div class="row">
				<input type="submit" value="Add item">
				<button type="reset" id="reset" class="reset">Reset</button>
			</div>
		</form>
	</div>
</div>
{% endblock body %}
