{% extends "base.html" %}
{% block title %}
Asset management system - All assets
{% endblock title %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='exportToExcel.js') }}" defer></script>
<script src="{{ url_for('static', filename='filter.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('profile') }}" style="width: 9em;" class="links signup">Your Profile</a>
<a href="" class="links login">Log out</a>
{% endblock navlinks %}
{% block body %}
<div class="main">
	<div class="table-links">
		<input class="filter-input" type="search" data-table="tbl" id="tbl" placeholder="Filter">
		<div class="sort">
			<select name="pets" id="sort-btn" class="sort-btn">
				<option value="sort" default selected disabled id="sort-default">Sort</option>
				<option value="default">Default</option>
				<option value="asset">Asset Description</option>
				<option value="room">Room</option>
				<option value="serial">Serial Number</option>
				<option value="building">Building</option>
				<option value="product">Product Number</option>
				<option value="make">Make Model</option>
				<option value="department">Department</option>
				<option value="directorate">Directorate</option>
				<option value="units">Units</option>
				<option value="officer">Officer in Charge</option>
				<option value="condition">Condition</option>
			</select>
		</div>
		<a href="{{ url_for('create_assets') }}" class="add-asset-link">Add a new Asset</a>
		<button id="import-excel-btn" class="import-excel">Import an Excel file</button>
		<button id="export-excel-btn" class="export-excel">Download as
			Excel sheet</button>
	</div>

	<section>
		<h1>All Assets</h1>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Asset Description</th>
						<th>Room</th>
						<th>Serial Number</th>
						<th>Building</th>
						<th>Product Number</th>
						<th>Make Model</th>
						<th>Department</th>
						<th>Directorate</th>
						<th>Units</th>
						<th>Officer in Charge</th>
						<th>Condition</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table id="table" cellpadding="0" cellspacing="0" border="0">
				<thead style="display: none;">
					<tr>
						<th>Asset Description</th>
						<th>Room</th>
						<th>Serial Number</th>
						<th>Building</th>
						<th>Product Number</th>
						<th>Department</th>
						<th>Directorate</th>
						<th>Units</th>
						<th>Officer in Charge</th>
						<th>Condition</th>
					</tr>
				</thead>
				<tbody id="row">
					<tr>
						<td>Monitor</td>
						<td>TNT 101</td>
						<td>######</td>
						<td>Treasury</td>
						<td>6789</td>
						<td>HP</td>
						<td>ICT</td>
						<td>TREASURY</td>
						<td>Auditor General Office</td>
						<td>Virginia</td>
						<td>Working</td>
					</tr>
					<tr>
						<td>Monitor</td>
						<td>TNT 101</td>
						<td>######</td>
						<td>Treasury</td>
						<td>6789</td>
						<td>HP</td>
						<td>ICT</td>
						<td>Crops</td>
						<td>Accounts</td>
						<td>James</td>
						<td>Working</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	{% endblock body %}
