{% extends "base.html" %}
{% block title %}
	{% if not current_user.is_authenticated %}
Asset management system - Home
	{% else %}
Asset management system - All assets
	{% endif %}
{% endblock %}
{% if current_user.is_authenticated %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='exportToExcel.js') }}" defer></script>
<script src="{{ url_for('static', filename='filter.js') }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock head %}
{% endif %}
{% block navlinks %}
	{%if current_user.is_authenticated%}
		<a href="{{url_for('profile')}}" class="links signup">Account</a>
		<a href="{{url_for('logout')}}" class="links login">Logout</a>
	{% else %}
		<a href="{{url_for('register')}}" class="links signup">Sign up</a>
		<a href="{{url_for('login')}}" class="links login">Login</a>
	{% endif %}
{% endblock navlinks %}
{% block body %}
{% if not current_user.is_authenticated %}
<div class="heading" style="background-color: rgb(115,76,17)">
	<h2>INVENTORY MANAGEMENT SYSTEM</h2>
</div> <br><br>

<div class="parent">
	<div class="child1">
		<p>The  <b> National Treasury Inventory Management System </b>
			is your comprehensive solution for managing and safeguarding the assets of our nation's treasury. 
			Our state-of-the-art platform ensures efficient, secure, and transparent handling of inventory, 
			providing a seamless experience for all users.</p>
		<div class="register-login-btns">
			<a href="{{ url_for('register') }}" class="button-64" role="button"><span class="text">Get Started</span></a>
			<a href="{{ url_for('login') }}" class="button-64" role="button"><span class="text">Log In</span></a>
		</div>
	</div>
	<div class="child2">
		<img src="{{url_for('static', filename='assets/images/hero.jpeg')}}" alt="">
	</div>
	
</div>
{% else %}
<div class="main">
    <main class="table" id="customers_table">
        <section class="table__header">
            <a href="{{ url_for('index') }}" class="all-assets-btn" ><h1>All Assets</h1></a>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
		<img src="{{ url_for('static', filename='assets/images/search.png') }}" alt="">
            </div>
	    <div class="table-links">
		<a href="{{ url_for('create_assets') }}" class="add-asset-link">Add a new Asset</a>
		<button id="import-excel-btn" class="import-excel">Import an Excel file</button>
		<button id="toEXCEL" class="export-excel">Download as
			Excel sheet</button>
	    </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr> 
                        <th> Asset Description <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Financed by <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Serial Number <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Product Number<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Make Model <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Directorate <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Units <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Building <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Room <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Officer Allocated <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Officer Allocated Work ID / National ID<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Asset Condition <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
					{% for asset in assets %}
					<tr>
						<td>{{ asset.asset_description }}</td>
						<td>{{ asset.financed_by }}</td>
						<td>{{ asset.serial_number }}</td>
						<td>{{ asset.product_number }}</td>
						<td>{{ asset.make_model }}</td>
						<td>{{ asset.directorate }}</td>
						<td>{{ asset.units }}</td>
						<td>{{ asset.building }}</td>
						<td>{{ asset.room }}</td>
						<td>{{ asset.officer_allocated }}</td>
						<td>{{ asset.officer_contact_info }}</td>
						<td>{{ asset.state }}</td>
						<td>
							<div class="edit-links">
								<a class="edit" title="Edit" href="{{ url_for('edit_asset',asset_id=asset.idassets ) }}" data-toggle="tooltip" id="{{asset.idassets}}"><i class="fa fa-pencil"></i></a>
								<button class="delete" title="Delete" data-toggle="tooltip" id="del-btn"><i class="fa fa-trash"></i></button>
								 <!-- href="{{ url_for('delete_asset',asset_id=asset.idassets) }}" -->
							</div>
                        </td>
					</tr>	
						{% endfor %}
                </tbody>
            </table>
        </section>
    </main>
<dialog id="deleteModal">
    <form action="{{url_for('delete_account')}}" method="post">
      <div class="modal-text">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <p class="modal-text">Proceed to delete?</p>
      </div>
      <div class="modal-btn">
        <button id="cancelBtn">Cancel</button>
        <input type="submit" id="confirmBtn" value="Yes"></input>
      </div>
    </form>
</dialog>
	{% endif %}
{% endblock body %}
