{% extends "base.html" %}
{% block title %}
Asset management system - Home
{% endblock %}
{% block navlinks %}
<a href="{{ url_for('register') }}" class="links signup">Sign up</a>
<a href="{{ url_for('login') }}" class="links login">Login</a>
{% endblock navlinks %}
{% block body %}
<div class="main">
	<div class="heading">
		<h2>INVENTORY MANAGEMENT SYSTEM</h2>
	</div>
	<div class="image">
		<img src="{{ url_for('static',filename='assets/images/hero.jpeg') }}" alt="hero-image" height="470">
	</div>
	<div class="info">
		Inventory management is a crucial way for us as an organization to track our assets. This way we
		are able to deliver excellent services and make informed decisions.
	</div>
	<div class="create-inventory-btn">
		<a href="{{ url_for('assets') }}">Click here to create an inventory</a>
		<a href="{{ url_for('dashboard') }}">View and manage all inventories</a>
	</div>
</div>
{% endblock body %}
