{% extends "base.html" %}
{% block title %}
Asset management system - Log in
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('register') }}" class="links login">Sign up</a>
{% endblock navlinks %}
{% block body %}
<div class="auth-container">
	<div class="auth-form">
		<form action="login.php" method="post">
			<h3>Log in</h3>
			<div class="email"><label for="email"><input placeholder="Email Address" type="text"
						name="email" id="email"></div>
			<div class="password"><label for="password"></label><input placeholder="Password"
					type="password" name="password" id="password"></div>
			<!-- <button class="btn-signup">LogIn</button> -->
			<input type="submit" value="Submit" class="btn-signup"><br>
			<small class="have-account-link">Don't have an account?<a href="{{ url_for('register') }}">Sign
					up</a></small>
		</form>
	</div>
</div>
{% endblock body %}
