{% extends "base.html" %}
{% block title %}
Asset management system - Log in
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('register') }}" class="links login">Sign up</a>
{% endblock navlinks %}
{% block body %}
<div class="auth-container">
	<div class="auth-form">
		<form action="" method="post">
			{{form.csrf_token}}
			<h3>Log in</h3>
			{{ form.email(placeholder='Email Address') }}
			{{ form.password(placeholder='Password') }}
			{{ form.submit(class='btn-signup') }}
			<small class="have-account-link">Don't have an account?<a href="{{ url_for('register') }}">Sign
					up</a></small>
		</form>
	</div>
</div>
{% endblock body %}
