{% extends "base.html" %}
{% block title %}
Asset management system - Sign up
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('login') }}" class="links login">Login</a>
{% endblock navlinks %}
{% block body %}
<div class="auth-container">
	<div class="auth-form">
		<form action="" method="post">
			{{form.csrf_token}}
			<h3>Sign up</h3>
			{{ form.first_name(placeholder="First name",id="firstname") }}
			{{ form.second_name(placeholder="Second name",id="secondname") }}
			{{ form.email(placeholder="Email Address",id="email") }}
			{{ form.password(placeholder="Password",id="password") }}
			{{ form.confirm_password(placeholder="Confirm Password",id="confirmpassword") }}
			{{ form.submit(class="btn-signup") }}
			<small class="have-account-link">Have an account?<a
					href="{{ url_for('login') }}">Login</a></small>
		</form>

	</div>
</div>
{% endblock body %}
