{% extends "base.html" %}
{% block title %}
Asset management system - Sign up
{% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock head %}
{% block navlinks %}
<a href="{{ url_for('login') }}" class="links login">Login</a>
{% endblock navlinks %}
{% block body %}
<div class="auth-container">
	<div class="auth-form">
		<form action="" method="post">
			{{form.csrf_token}}
			<h3>Sign up</h3>
			{{ form.first_name(placeholder="First name",id="firstname") }}
			<!-- <div class="firstname"><label for="firstname"></label><input type="text" name="firstname" -->
			<!-- 		placeholder="First name" id="firstname"></div> -->
			{{ form.second_name(placeholder="Second name",id="secondname") }}
			<!-- <div class="secondname"><label for="secondname"></label><input type="text" name="secondname" -->
			<!-- 		placeholder="Second name" id="secondname"></div> -->
			{{ form.email(placeholder="Email Address",id="email") }}
			<!-- <div class="email"><label for="email"></label><input type="email" name="email" -->
			<!-- 		placeholder="Email Address" id="email"></div> -->
			{{ form.password(placeholder="Password",id="password") }}
			<!-- <div class="password"><label for="password"></label> -->
			<!-- 	<input type="password" name="password" placeholder="Password" id="password"> -->
			<!-- </div> -->
			{{ form.confirm_password(placeholder="Confirm Password",id="confirmpassword") }}
			<!-- <div class="confirmpassword"><label for="confirmpassword"></label><input type="password" -->
			<!-- 		name="confirmpassword" placeholder="Confirm Password" id="confirmpassword"> -->
			<!-- </div> -->
			<!-- <button class="btn-signup">Submit</button> -->
			{{ form.submit(class="btn-signup") }}
			<!-- <input type="submit" value="Submit" class="btn-signup"><br> -->
			<small class="have-account-link">Have an account?<a
					href="{{ url_for('login') }}">Login</a></small>
		</form>

	</div>
</div>
{% endblock body %}
