body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #CE9540;
}

.nav {
	background-color: whitesmoke;
}

.asset-heading {
	padding: 14px;
	text-align: center;
	color: whitesmoke;
	background-color: #734C11;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid peachpuff;
	padding-left: 4px;
	padding-top: 5px;
	padding-right: 15px;
}

.links {
	/* border: 2px solid slateblue; */
	padding: 12px;
	display: flex;
	align-items: center;
	gap: 32px;
	border-radius: 34px;
	margin-bottom: 8px;

}

.links>a {
	text-decoration: none;
	color: whitesmoke;
	width: 8em;
	margin-right: 4px;
}

.links>a:hover,
.create-inventory-btn>a:hover {
	color: wheat;
}

.signup {
	background-color: #CE9540;
}

.login {
	background-color: #734C11;
	margin-left: -79px;
	padding-left: 32px;
}

.form-wrapper {
	/* background-color: #CE9540; */
	/* position: relative; */
	/* bottom: 0; */
	/* height: calc(100vh - 19.076923076923077vh); */
	/* max-height: 100%; */

	/* display: flex; */
	/* justify-content: center; */
	margin: 0 auto;
}

*:focus {
	outline: none;
}

input,
.reset {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
	background-color: #734C11;
	color: rgb(0, 0, 0);
}

select,
input,
.reset {
	padding: 14px;
	border-radius: 14px;
	margin-bottom: 10px;
	width: 420px;
	font-size: 20px;
}

select {
	border: none;
}

select:hover {
	cursor: pointer;
}

input[type="submit"],
.reset {
	color: whitesmoke;
	background-color: rgb(0, 0, 0);
}

input[type="submit"]:hover,
.reset:hover {
	cursor: pointer;
	color: whitesmoke;
	background-color: rgb(0, 0, 0, 0.8);
}

/* input[id="condition"] { */
/* 	width: 879px; */
/* } */

.form {
	/* border: 2px solid peachpuff; */
	width: 900px;
	padding: 12px;
}


.row {
	display: flex;
	gap: 38px;
	margin-bottom: 30px;
}

/* removes white background on atofill passwords */
/* input:autofill { */
/* 	background-color: #ce9540; */
/* } */

/**/
/* input { */
/* 	filter: none; */
/* } */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #ce9540 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
	-webkit-text-fill-color: rgb(0, 0, 0) !important;
}

/* Changes placeholder color */
::placeholder {
	color: whitesmoke;
	opacity: 1;
	/* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: whitesmoke;
}
