@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #ce9540 !important;
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
}

h2 {
	background: #ded0a9;
}

.container {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 80vh;
}

label {
	color: wheat;
}

small {
	color: lightgoldenrodyellow;
}

small>a {
	margin-left: 6px;
	color: whitesmoke;
}

small>a:hover {
	text-decoration: none;
}

.login-box {

	background-color: #734c11;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
	margin: 0 0 15px;
	padding: 0;
	color: #333;
	text-align: center;
	text-transform: uppercase;
}

.user-box {
	position: relative;
	margin-bottom: 30px;
}

.user-box input {
	width: 100%;
	padding: 10px 0;
	/* font-size: 16px; */
	/* color: #333; */
	/* margin-bottom: 30px; */
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	background: transparent;
	/* color: wheat; */
	font-weight: bold;
	font-size: 18px;
	color: #ded0a9;
	font-weight: bold;
}

.user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #333;
	pointer-events: none;
	transition: 0.5s;

	font-weight: bold;
	color: aliceblue;
}

.user-box input:focus~label,
.user-box input:valid~label {
	transform: translateY(-20px);
	font-size: 14px;
	color: #333;
}

.submit {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 2px;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	appearance: none;
	border: none;
	width: 100%;
	margin-bottom: 19px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #734c11 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
	-webkit-text-fill-color: #ded0a9 !important;
}

/* Changes placeholder color */
::placeholder {
	color: rgb(0, 0, 0, 0.6);
	opacity: 1;
	/* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: rgb(0, 0, 0, 0.6);
}

.submit:hover {
	/* background-color: #ded0a9; */
	background-color: #bfbaac;
	cursor: pointer;
	color: #333;
	border: 1px solid #333;
}

.submit span {
	position: absolute;
	display: block;
}

.submit span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background-color: #333;
	animation: animate1 1s linear infinite;
}

@keyframes animate1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}

.submit span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background-color: #333;
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2 {
	0% {
		top: -100%;
	}

	50%,
	100% {
		top: 100%;
	}
}

.submit span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background-color: #333;
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate3 {
	0% {
		right: -100%;
	}

	50%,
	100% {
		right: 100%;
	}
}

.submit span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: #333;
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate4 {
	0% {
		bottom: -100%;
	}

	50%,
	100% {
		bottom: 100%;
	}
}

.password-toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.password-toggle-icon i {
	font-size: 18px;
	line-height: 1;
	color: #333;
	transition: color 0.3s ease-in-out;
	margin-bottom: 20px;
}

.password-toggle-icon i:hover {
	color: #000;
}

.login-with-google-btn {
	transition: background-color .3s, box-shadow .3s;

	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

	color: #757575;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
	text-decoration: none;
}

.login-with-google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
	color: #4f4730;
}

.login-with-google-btn:active {
	background-color: #eeeeee;
}

.login-with-google-btn:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
	filter: grayscale(100%);
	background-color: #ebebeb;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
	cursor: not-allowed;
}

.login-with-google-btn:hover {
	cursor: pointer;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
	text-align: center;
}
